@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Work Shift Management Tool</h1>
    <p class="lead">Created By: Darius Seifert Booth - Denys Syniavskyi</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Purpose of this app</h2>
        <p>
            We in Group 7 designed this application for the purpose of assisting small-end businesses/organizations
            with managing data involving employees and the shifts that they get assigned to. Additionally, this app
            would help with communications between employees and management for the purposes of shift/task assignment.
        </p>
        @Html.ActionLink(HttpUtility.HtmlDecode("Employees &raquo;"), "Index", "Employees", null, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-6">
        <h2>Capabilities of the WSMT</h2>
        <p>
            - Management-level users can create accounts of lower levels than themselves (e.g., Manager creating Employee accounts
            for new employees).<br />
            - Management-level users can create new Shift entries in the database. Shift entries are created by entering start
            and end times for the shift, as well as selecting which Tasks are to be completed on said shift. Employees can optionally
            be set, or the shift can be left open for employees to volunteer for. Management can also edit and delete shifts. <br />
            - Low-level employees can edit clocking in/out values of shifts they are assigned to, as well as mark off tasks
            that have been completed.
        </p>
        @Html.ActionLink(HttpUtility.HtmlDecode("Shifts &raquo;"), "Index", "Shifts", null, new { @class = "btn btn-default" })
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>