body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#overrideBS .table-bordered {
    border-radius: 10px;
    border:2px solid black;
}
/*.table.text-center.table-bordered.table-striped.table-hover tr:hover {
    background-color: red; 
}*/
.modal-footer{
    align-content:center;
}
.addshiftbtn {
    background-color: #136c0399;
    padding: 0px 6px;
}
.navigationText {
    color: green;
    
}
.outdatedtasks{
    background-color: #fff2f2;
}
.normalduetasks {
    background-color: #effeee;
}
.taskduetoday {
    background-color: #ffffee;
}
.edditShiftbtn{
    color: #0b6b1f;
    

    
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #effeee;
}
.shiftstartbox {
    margin: 0 60px 10px 22px;
    background-color: #effeee;
}
.shiftendbox {
    margin: 0 60px 10px 25px;
    background-color: #effeee;
}
.buttongroup {
    width: 100%;
    text-align: center;
}

.actionBtn {
    margin: 0px 30px;
    background-color: #effeee;
    border: solid black;
    border-radius: 1px;
}

